body {
	background-color: #D8315B;
	color: #0A2463;
}

button {
	color: #0A2463;
	background-color: transparent;
	border: 2px solid #0A2463;
}

button:hover { 
	color: #D8315B;
	background-color: #0A2463;
	opacity: 0.7;
	border: 2px solid #0A2463;
}

#burger {
	height: 150px;
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}



